{% extends "ToDoListBundle::layout.html.twig" %}

{% block title "Registration" %}

{% block content %}
    <form action="{{ path('_user_registration') }}" method="POST" id="registration_form">

    	<h4>Registration</h4>

        {{ form_errors(form) }}

		{{ form_row(form.username) }}
		{{ form_row(form.password) }}

		{{ form_row(form.email) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        
        {{ form_rest(form) }}

        <input type="submit" value="Send" class="button" />
    </form>
{% endblock %}
